* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.background {
	height: 100vh;
	width: 100vw;
	background: url('images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bird {
	height: 5em;
	width: 5em ;
	position: fixed;
	top: 40vh;
	left: 30vw;
	z-index: 100;
	border-radius: 100%;
	filter: brightness(90%);
}
.pipe_sprite {
	position: fixed;
	top: 40vh;
	left: 100vw;
	height: 70vh;
	width: 6vw;
	background:rgb(17, 17, 17);
	/* border: 5px solid black; */
    border-radius: 50px;
}
.message {
	position: absolute;
	z-index: 10;
	color: rgb(173, 220, 255);
	top: 50%;
	left: 50%;
	font-family: 'Overpass', sans-serif;
	font-size: 3em;
	transform: translate(-50%, -50%);
    display: inline-block;
	text-align: center;
}
.messageStyle{
	font-family: 'Overpass', sans-serif;
    background-color: rgba(0, 21, 83, 0.9);
	padding: 30px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 5%;
}
.score {
	background-color: rgba(0, 21, 83, 0.9);
	border: 100px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 10%;
	z-index: 5;
	position: fixed;
	justify-content: center;
	font-size: 5vh;
	font-weight: 100;
    color: white;
	top: 0;
	left: 0;
	margin: 10px;
	font-family: 'Overpass', sans-serif;
}
.score_val {
	font-family: 'Overpass', sans-serif;
	color: gold;
	font-weight: bold;
    border: 0ch;
}
@media only screen and (max-width: 1080px) {
    .message{
		font-size: 50px;
		top: 50%;
		white-space: nowrap;
        justify-content: center;
        align-items: center;
		font-family: 'Overpass', sans-serif;
	}
    .happy{
        font-size: 50px;
		top: 50%;
        justify-content: center;
        align-items: center;
        background-color: blueviolet;
		font-family: 'Overpass', sans-serif;
    }
	.score{
		font-size: 8vh;
		font-family: 'Overpass', sans-serif;
	}
	.bird{
		width: 120px;
		height: 90px;

	}
	.pipe_sprite{
		width: 14vw;
	}
}